<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">@Localizer["Analytics"]</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Uwingo</a></li>
                            <li class="breadcrumb-item active">@Localizer["Dashboard"]</li>
                        </ol>
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            @model DashboardViewModel

            <div class="row justify-content-center">
                @if (User.HasClaim(c => c.Type == "Company" && c.Value == "GetCompanyCount"))
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card report-card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold">@Localizer["Şirketler"]</p>
                                        <h3 class="m-0">@Model.CompanyCount</h3>
                                        <p class="mb-0 text-truncate text-muted">@Localizer["Toplam Şirket Sayısı"]</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="report-main-icon bg-light-alt">
                                            <i data-feather="briefcase" class="align-self-center text-muted icon-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (User.HasClaim(c => c.Type == "Application" && c.Value == "GetApplicationCount"))
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card report-card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold">@Localizer["Uygulamalar"]</p>
                                        <h3 class="m-0">@Model.ApplicationCount</h3>
                                        <p class="mb-0 text-truncate text-muted">@Localizer["Toplam Uygulama Sayısı"]</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="report-main-icon bg-light-alt">
                                            <i data-feather="code" class="align-self-center text-muted icon-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (User.HasClaim(c => c.Type == "CompanyApplication" && c.Value == "GetCompanyApplicationCount"))
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card report-card">
                            <div class="card-body">
                                <div class="row d-flex align-items-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold">@Localizer["Şirketlerin Uygulamaları"]</p>
                                        <h3 class="m-0">@Model.CompanyApplicationCount</h3>
                                        <p class="mb-0 text-truncate text-muted">@Localizer["Şirketlerin Aldığı Toplam Uygulama Sayısı"]</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="report-main-icon bg-light-alt">
                                            <i data-feather="briefcase" class="align-self-center text-muted icon-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @if (User.HasClaim(c => c.Type == "Role" && c.Value == "GetRoleCount"))
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card report-card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold">@Localizer["Roller"]</p>
                                        <h3 class="m-0">@Model.RoleCount</h3>
                                        <p class="mb-0 text-truncate text-muted">@Localizer["Toplam Rol Sayısı"]</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="report-main-icon bg-light-alt">
                                            <i data-feather="user-check" class="align-self-center text-muted icon-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                @if (User.HasClaim(c => c.Type == "Tenant" && c.Value == "GetTenantCount"))
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card report-card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold">@Localizer["Kiracılar"]</p>
                                        <h3 class="m-0">@Model.TenantCount</h3>
                                        <p class="mb-0 text-truncate text-muted">@Localizer["Toplam Kiracı Sayısı"]</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="report-main-icon bg-light-alt">
                                            <i data-feather="home" class="align-self-center text-muted icon-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (User.HasClaim(c => c.Type == "User" && c.Value == "GetUserCount"))
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card report-card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">
                                        <p class="text-dark mb-0 fw-semibold">@Localizer["Kullanıcılar"]</p>
                                        <h3 class="m-0">@Model.UserCount</h3>
                                        <p class="mb-0 text-truncate text-muted">@Localizer["Toplam Kullanıcı Sayısı"]</p>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="report-main-icon bg-light-alt">
                                            <i data-feather="users" class="align-self-center text-muted icon-sm"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <!--end row-->
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Audience Overview</h4>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                            <div class="dropdown">
                                <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    This Year<i class="las la-angle-down ms-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Last Week</a>
                                    <a class="dropdown-item" href="#">Last Month</a>
                                    <a class="dropdown-item" href="#">This Year</a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <div class="">
                        <div id="ana_dash_1" class="apex-charts"></div>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
@section styles {
    <!-- jvectormap -->
    <link href="~/lib/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
}

@section scripts {
    <script src="~/lib/apex-charts/apexcharts.min.js"></script>
    <script src="~/lib/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/lib/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/js/pages/jquery.analytics_dashboard.init.js"></script>
}