@model Tuple<CompanyApplicationDto, List<CompanyDto>, List<ApplicationDto>>

@{
    ViewBag.Title = Localizer["AssignApplicationToCompany"];
}

<h2>@Localizer["AssignApplicationToCompany"]</h2>

<div class="form-group">
    <label for="CompanyId">@Localizer["SelectCompany"]</label>

    <select class="form-control select2" name="CompanyId" id="CompanyId" data-placeholder="-- @Localizer["SelectCompany"] --">
        <option value=""></option>
        @foreach (var item in Model.Item2)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label for="ApplicationId">@Localizer["SelectApplication"]</label>
    <select class="form-control select2" name="ApplicationId" id="ApplicationId" data-placeholder="-- @Localizer["SelectApplication"] --">
        <option value=""></option>
        @foreach (var item in Model.Item3)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label for="DbConnection">@Localizer["DatabaseConnection"]</label>
    <input type="text" class="form-control" id="DbConnection" name="DbConnection" required />
</div>
<button type="button" name="button" id="button" class="btn btn-primary" onclick="submitCreateForm()">@Localizer["Assign"]</button>
<a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>

@section Scripts {
    <script>
        function submitCreateForm() {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to assign this application to the company!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Assign it!',
                cancelButtonText: 'No, Cancel!',
                reverseButtons: true
            }).then(function (result) {
                if (result.isConfirmed) {
                    var companyApplication = {
                        CompanyId: $('#CompanyId').val(),
                        ApplicationId: $('#ApplicationId').val(),
                        DbConnection: $('#DbConnection').val()
                    };

                    console.log(companyApplication.CompanyId);
                    console.log(companyApplication.ApplicationId);
                    console.log(companyApplication.DbConnection);

                    $.ajax({
                        url: '@Url.Action("Create", "CompanyApplication")',
                        type: 'POST',
                        data: JSON.stringify(companyApplication),
                        contentType: 'application/json',
                        success: function (response) {
                            Swal.fire(
                                'Assigned!',
                                'The application has been assigned successfully.',
                                'success'
                            ).then(() => {
                                window.location.href = '@Url.Action("Index", "CompanyApplication")';
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Error!',
                                'There was an error assigning the application.',
                                'error'
                            );
                        }
                    });
                }
            });
        }
    </script>
}
